DataSet contains 15min candles of NSE:BANKNIFTY24FEBFUT symbol from 29th December to 25th January

T1. Calculate the exponential moving average with span 10 and 20 using ewm(span=X).mean() on the close price and add the values in the columns named "ema_10" and "ema_20" for each row (15min)
T2. Calculate the previous_day_high using max() funtion and previous_day_low using min() from the previous day for each row (15min)
T3. Calculate the ema_10 and ema_20 on close price for 5 min dataset
T4. Create a new dataset named "CE" filtering both 15min and 5min datasets above where below condition satisfies

	(i) historical_data_15min['ema_10'] > historical_data_15min['ema_20']
        (ii) close > historical_data_15min['prev_days_high']
        (iii) historical_data_5min['ema_10'] > historical_data_5min['ema_20']
        (iv) historical_data_5min['close'] > historical_data_5min['ema_10']

T5. Create a new dataset named "PE" filtering both 15min and 5min datasets above where below condition satisfies

	(i) historical_data_15min['ema_10'] < historical_data_15min['ema_20']
        (ii) close < historical_data_15min['prev_days_low']
        (iii) historical_data_5min['ema_10'] < historical_data_5min['ema_20']
        (iv) historical_data_5min['close'] < historical_data_5min['ema_10']

T6. Exclude all the rows of "CE" and "PE" which are before start_time = "9:45:00" and after stop_time = "15:00:00"

T7. Calculate stike price and add a cloumn named "strike" for each row of CE using below formula
    strike = round(float(close_price), -2) - 200
  
    Calculate string symbol and add a cloumn named "symbol" of each row of CE using below formula
    symbol = "NSE:BANKNIFTY24FEB" + str(strike) + "CE"

T8. Calculate stike price add a cloumn named "strike" for each row of PE using below formula
    strike = round(float(close_price), -2) + 200

    Calculate string symbol and add a cloumn named "symbol" of each row of PE using below formula
    symbol = "NSE:BANKNIFTY24FEB" + str(strike) + "PE"

T9. list all the unique symbols for CE and PE

T10. For each row in CE, buy the "symbol" at the close price from the symbol dataset at the same timestamp.
    and then try to sell it when below condition satisfies:
     i) got 10 point price gain ( type point_gain)
     ii) when 1_min_close < 1min_ema_20 ( type 1min_ema20)
     iii) reached a threshold time of 15min ( type threshold )
    capture the buy_price, sell_price, sell_type(point_gain, 1min_20ema or threshold) ce_sell and profit_or_loss for each row of CE

T11. For each row in PE, buy the "symbol" at the close price from the symbol dataset at the same timestamp.
    and then try to sell it when below condition satisfies:
     i) got 10 point price gain ( type point_gain)
     ii) when 1_min_close > 1min_ema_20 ( type 1min_ema20)
     iii) reached a threshold time of 15min ( type threshold )
    capture the buy_price, sell_price, sell_type(point_gain, 1min_20ema or threshold) and profit_or_loss for each row of PE

In [ ]:
import pandas as pd
ce = pd.read_csv('/content/drive/MyDrive/algo_trading_data_sets/CE.csv')
pe=pd.read_csv('/content/drive/MyDrive/algo_trading_data_sets/PE.csv')

In [ ]:
pe.head()

,Unnamed: 0,datetime,open,high,low,close,volume,ema_10,ema_20,date,current_days_high,previous_day_high,current_days_low,previous_day_low,strike,symbol
0,171,2024-02-08 11:00:00,45881.9,45881.95,45530.00,45572.2,380175,46047.785911,46129.190469,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE:BANKNIFTY24FEB45800PE
1,172,2024-02-08 11:05:00,45571.9,45650.00,45463.20,45573.4,190110,45961.533927,46076.258042,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE:BANKNIFTY24FEB45800PE
2,173,2024-02-08 11:10:00,45578.9,45685.00,45564.80,45637.6,91920,45902.636850,46034.481084,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE:BANKNIFTY24FEB45800PE
3,174,2024-02-08 11:15:00,45640.0,45675.00,45592.55,45625.0,63510,45852.157422,45995.482885,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE:BANKNIFTY24FEB45800PE
4,175,2024-02-08 11:20:00,45625.8,45647.25,45582.60,45632.9,53730,45812.292436,45960.951181,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE:BANKNIFTY24FEB45800PE

In [ ]:
ce['symbol'] = ce['symbol'].str.replace("NSE:BANKNIFTY24FEB", "NSE:BANKNIFTY24MAR")
ce.head()

,Unnamed: 0,datetime,open,high,low,close,volume,ema_10,ema_20,date,current_days_high,previous_day_high,strike,symbol
0,75,2024-02-07 09:15:00,46201.1,46281.75,46159.00,46265.8,170385,46016.812806,45987.085643,2024-02-07,46296.0,46165.0,46100,NSE:BANKNIFTY24MAR46100CE
1,76,2024-02-07 09:20:00,46260.0,46292.65,46215.00,46286.0,118440,46065.755941,46015.566492,2024-02-07,46296.0,46165.0,46100,NSE:BANKNIFTY24MAR46100CE
2,77,2024-02-07 09:25:00,46285.9,46296.00,46171.30,46209.4,80775,46091.873047,46034.034344,2024-02-07,46296.0,46165.0,46000,NSE:BANKNIFTY24MAR46000CE
3,78,2024-02-07 09:30:00,46201.1,46245.00,46193.95,46233.8,61245,46117.677951,46053.066654,2024-02-07,46296.0,46165.0,46000,NSE:BANKNIFTY24MAR46000CE
4,79,2024-02-07 09:35:00,46240.2,46252.75,46216.90,46243.4,38775,46140.536508,46071.199682,2024-02-07,46296.0,46165.0,46000,NSE:BANKNIFTY24MAR46000CE

In [ ]:
ce['symbol'] = ce['symbol'].str.replace("NSE:BANKNIFTY24MAR", "NSE_BANKNIFTY24MAR")

In [ ]:
pe['symbol'] = pe['symbol'].str.replace("NSE:BANKNIFTY24FEB", "NSE:BANKNIFTY24MAR")
pe.head()

,Unnamed: 0,datetime,open,high,low,close,volume,ema_10,ema_20,date,current_days_high,previous_day_high,current_days_low,previous_day_low,strike,symbol
0,171,2024-02-08 11:00:00,45881.9,45881.95,45530.00,45572.2,380175,46047.785911,46129.190469,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE:BANKNIFTY24MAR45800PE
1,172,2024-02-08 11:05:00,45571.9,45650.00,45463.20,45573.4,190110,45961.533927,46076.258042,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE:BANKNIFTY24MAR45800PE
2,173,2024-02-08 11:10:00,45578.9,45685.00,45564.80,45637.6,91920,45902.636850,46034.481084,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE:BANKNIFTY24MAR45800PE
3,174,2024-02-08 11:15:00,45640.0,45675.00,45592.55,45625.0,63510,45852.157422,45995.482885,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE:BANKNIFTY24MAR45800PE
4,175,2024-02-08 11:20:00,45625.8,45647.25,45582.60,45632.9,53730,45812.292436,45960.951181,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE:BANKNIFTY24MAR45800PE

In [ ]:
import os
import numpy as np
# ce = pd.read_csv("ce_dataset.csv")  # Replace "ce_dataset.csv" with the filename of your CE dataset
ce['datetime'] = pd.to_datetime(ce['datetime'])
# Define the directory path
directory = "/content/drive/MyDrive/algo_trading_data_sets/feb"

# Get a list of all files in the directory
all_files = os.listdir(directory)
symbol_files_ce = [filename for filename in all_files if filename.startswith("NSE_BANKNIFTY24MAR") and filename.endswith("CE.csv")]

buy_prices = []

# Iterate through each symbol dataset
for index, row in ce.iterrows():
    symbol_filename = row['symbol'] + ".csv"
    if symbol_filename in symbol_files_ce:
        # Join the filename with the directory path
        file_path = os.path.join(directory, symbol_filename)

        # Load the symbol dataset
        symbol_dataset = pd.read_csv(file_path)
        # symbol_dataset['close'] = pd.to_numeric(symbol_dataset['close'], errors='coerce')
        symbol_dataset['datetime'] = pd.to_datetime(symbol_dataset['datetime'])
        # Find the row with the closest datetime value in the symbol dataset
        closest_row = symbol_dataset[symbol_dataset['datetime'] == row['datetime']].iloc[0]

        # Append the close value to buy_prices
        buy_price = closest_row['close']
        buy_prices.append(buy_price)
    else:
        # If the symbol dataset is not found, append NaN
        buy_prices.append(np.nan)

# Add the buy_prices list to the ce DataFrame
ce['buy_price'] = buy_prices

In [ ]:
ce

,Unnamed: 0,datetime,open,high,low,close,volume,ema_10,ema_20,date,current_days_high,previous_day_high,strike,symbol,buy_price
0,75,2024-02-07 09:15:00,46201.1,46281.75,46159.00,46265.8,170385,46016.812806,45987.085643,2024-02-07,46296.0,46165.0,46100,NSE_BANKNIFTY24MAR46100CE,1248.50
1,76,2024-02-07 09:20:00,46260.0,46292.65,46215.00,46286.0,118440,46065.755941,46015.566492,2024-02-07,46296.0,46165.0,46100,NSE_BANKNIFTY24MAR46100CE,1248.50
2,77,2024-02-07 09:25:00,46285.9,46296.00,46171.30,46209.4,80775,46091.873047,46034.034344,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1441.70
3,78,2024-02-07 09:30:00,46201.1,46245.00,46193.95,46233.8,61245,46117.677951,46053.066654,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1420.05
4,79,2024-02-07 09:35:00,46240.2,46252.75,46216.90,46243.4,38775,46140.536508,46071.199682,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1430.00
5,80,2024-02-07 09:40:00,46240.8,46289.00,46139.75,46185.0,72210,46148.620780,46082.041076,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1455.00
6,81,2024-02-07 09:45:00,46189.5,46205.00,46156.00,46193.1,31260,46156.707911,46092.621002,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1405.00
7,82,2024-02-07 09:50:00,46193.1,46210.00,46121.45,46167.0,43845,46158.579200,46099.706465,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1401.00
8,83,2024-02-07 09:55:00,46168.2,46189.95,46150.00,46181.9,24480,46162.819346,46107.536169,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1404.85
9,149,2024-02-07 15:25:00,46118.1,46249.85,46112.70,46230.0,152820,46119.646262,46089.367652,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1369.90
10,152,2024-02-08 09:25:00,46265.0,46341.65,46253.55,46340.0,83445,46196.095661,46140.272328,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10
11,153,2024-02-08 09:30:00,46335.6,46387.15,46320.00,46326.8,120810,46219.860086,46158.036872,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10
12,155,2024-02-08 09:40:00,46291.4,46312.00,46269.65,46300.0,29415,46245.326173,46183.195267,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10
13,158,2024-02-08 09:55:00,46273.9,46342.70,46264.30,46300.9,45900,46265.118543,46210.547712,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10
14,159,2024-02-08 10:00:00,46296.1,46410.00,46275.05,46410.0,79335,46291.460626,46229.543170,2024-02-08,46475.7,46296.0,46200,NSE_BANKNIFTY24MAR46200CE,1260.00

In [ ]:
ce['symbol'] = ce['symbol'].str.replace("NSE:BANKNIFTY24MAR", "NSE_BANKNIFTY24MAR")
ce.head()

,Unnamed: 0,datetime,open,high,low,close,volume,ema_10,ema_20,date,current_days_high,previous_day_high,strike,symbol,buy_price
0,75,2024-02-07 09:15:00,46201.1,46281.75,46159.00,46265.8,170385,46016.812806,45987.085643,2024-02-07,46296.0,46165.0,46100,NSE_BANKNIFTY24MAR46100CE,1248.50
1,76,2024-02-07 09:20:00,46260.0,46292.65,46215.00,46286.0,118440,46065.755941,46015.566492,2024-02-07,46296.0,46165.0,46100,NSE_BANKNIFTY24MAR46100CE,1248.50
2,77,2024-02-07 09:25:00,46285.9,46296.00,46171.30,46209.4,80775,46091.873047,46034.034344,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1441.70
3,78,2024-02-07 09:30:00,46201.1,46245.00,46193.95,46233.8,61245,46117.677951,46053.066654,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1420.05
4,79,2024-02-07 09:35:00,46240.2,46252.75,46216.90,46243.4,38775,46140.536508,46071.199682,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1430.00

In [ ]:
# directory = "/content/drive/MyDrive/algo_trading_data_sets/feb"

# # Get a list of all files in the directory
# all_files = os.listdir(directory)
# symbol_files_ce = [filename for filename in all_files if filename.startswith("NSE_BANKNIFTY24MAR") and filename.endswith("CE.csv")]
# symbol_files_ce
# for index, row in ce.iterrows():
#     symbol_filename = row['symbol'] + ".csv"
#     if symbol_filename in symbol_files_ce:
#       print(symbol_filename,symbol_files_ce)

In [ ]:
ce

,Unnamed: 0,datetime,open,high,low,close,volume,ema_10,ema_20,date,current_days_high,previous_day_high,strike,symbol,buy_price
0,75,2024-02-07 09:15:00,46201.1,46281.75,46159.00,46265.8,170385,46016.812806,45987.085643,2024-02-07,46296.0,46165.0,46100,NSE_BANKNIFTY24MAR46100CE,1248.50
1,76,2024-02-07 09:20:00,46260.0,46292.65,46215.00,46286.0,118440,46065.755941,46015.566492,2024-02-07,46296.0,46165.0,46100,NSE_BANKNIFTY24MAR46100CE,1248.50
2,77,2024-02-07 09:25:00,46285.9,46296.00,46171.30,46209.4,80775,46091.873047,46034.034344,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1441.70
3,78,2024-02-07 09:30:00,46201.1,46245.00,46193.95,46233.8,61245,46117.677951,46053.066654,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1420.05
4,79,2024-02-07 09:35:00,46240.2,46252.75,46216.90,46243.4,38775,46140.536508,46071.199682,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1430.00
5,80,2024-02-07 09:40:00,46240.8,46289.00,46139.75,46185.0,72210,46148.620780,46082.041076,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1455.00
6,81,2024-02-07 09:45:00,46189.5,46205.00,46156.00,46193.1,31260,46156.707911,46092.621002,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1405.00
7,82,2024-02-07 09:50:00,46193.1,46210.00,46121.45,46167.0,43845,46158.579200,46099.706465,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1401.00
8,83,2024-02-07 09:55:00,46168.2,46189.95,46150.00,46181.9,24480,46162.819346,46107.536169,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1404.85
9,149,2024-02-07 15:25:00,46118.1,46249.85,46112.70,46230.0,152820,46119.646262,46089.367652,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1369.90
10,152,2024-02-08 09:25:00,46265.0,46341.65,46253.55,46340.0,83445,46196.095661,46140.272328,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10
11,153,2024-02-08 09:30:00,46335.6,46387.15,46320.00,46326.8,120810,46219.860086,46158.036872,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10
12,155,2024-02-08 09:40:00,46291.4,46312.00,46269.65,46300.0,29415,46245.326173,46183.195267,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10
13,158,2024-02-08 09:55:00,46273.9,46342.70,46264.30,46300.9,45900,46265.118543,46210.547712,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10
14,159,2024-02-08 10:00:00,46296.1,46410.00,46275.05,46410.0,79335,46291.460626,46229.543170,2024-02-08,46475.7,46296.0,46200,NSE_BANKNIFTY24MAR46200CE,1260.00

In [ ]:
import os
import numpy as np
import pandas as pd

# Define a function to calculate EMA
def calculate_ema(series, span):
    return series.ewm(span=span, adjust=False).mean()

# Define the directory path
directory = "/content/drive/MyDrive/algo_trading_data_sets/feb"

# Get a list of all files in the directory
all_files = os.listdir(directory)
symbol_files_ce = [filename for filename in all_files if filename.startswith("NSE_BANKNIFTY24MAR") and filename.endswith("CE.csv")]

# Initialize lists to store buy_prices, sell_prices, sell_types, and profits_or_losses
# buy_prices = []
sell_prices = []
sell_types = []
profits_or_losses = []

# Iterate through each row in the CE DataFrame
for index, row in ce.iterrows():
    symbol_filename = row['symbol'] + ".csv"
    if symbol_filename in symbol_files_ce:
        # Join the filename with the directory path
        file_path = os.path.join(directory, symbol_filename)

        # Load the symbol dataset
        symbol_dataset = pd.read_csv(file_path)
        symbol_dataset['datetime'] = pd.to_datetime(symbol_dataset['datetime'])  # Convert 'datetime' column to datetime64[ns]

        # Calculate ema_20 for the symbol dataset
        symbol_dataset['ema_20'] = calculate_ema(symbol_dataset['close'], span=20)

        # Find the row with the closest datetime value in the symbol dataset
        symbol_row = symbol_dataset[symbol_dataset['datetime'] == row['datetime']].iloc[0]

        # Buy at the close price
        # buy_price = symbol_row['close']
        # buy_prices.append(buy_price)

        # Initialize selling variables
        sell_price = np.nan
        sell_type = np.nan
        profit_or_loss = np.nan

        # Iterate through each row in the symbol dataset starting from the row's datetime
        for _, symbol_row in symbol_dataset[symbol_dataset['datetime'] >= row['datetime']].iterrows():
            # Check conditions for selling
            if (symbol_row['close'] - row['buy_price']) >= 10:
                sell_price = symbol_row['close']
                sell_type = 'point_gain'
                profit_or_loss = sell_price - row['buy_price']
                break  # Exit the loop if condition met
            elif symbol_row['close'] < symbol_row['ema_20']:
                sell_price = symbol_row['close']
                sell_type = '1min_ema20'
                profit_or_loss = sell_price - row['buy_price']
                break  # Exit the loop if condition met
            elif (symbol_row['datetime'] - row['datetime']).seconds >= 15 * 60:
                sell_price = symbol_row['close']
                sell_type = 'threshold'
                profit_or_loss = sell_price - row['buy_price']
                break  # Exit the loop if condition met

        # Append selling details to lists
        sell_prices.append(sell_price)
        sell_types.append(sell_type)
        profits_or_losses.append(profit_or_loss)
    else:
        # buy_prices.append(np.nan)
        sell_prices.append(np.nan)
        sell_types.append(np.nan)
        profits_or_losses.append(np.nan)

# Add the buy_prices, sell_prices, sell_types, and profits_or_losses lists to the CE DataFrame
# ce['buy_price'] = buy_prices
ce['sell_price'] = sell_prices
ce['sell_type'] = sell_types
ce['profit_or_loss'] = profits_or_losses

In [ ]:
ce

,Unnamed: 0,datetime,open,high,low,close,volume,ema_10,ema_20,date,current_days_high,previous_day_high,strike,symbol,buy_price,sell_price,sell_type,profit_or_loss
0,75,2024-02-07 09:15:00,46201.1,46281.75,46159.00,46265.8,170385,46016.812806,45987.085643,2024-02-07,46296.0,46165.0,46100,NSE_BANKNIFTY24MAR46100CE,1248.50,1360.00,point_gain,111.50
1,76,2024-02-07 09:20:00,46260.0,46292.65,46215.00,46286.0,118440,46065.755941,46015.566492,2024-02-07,46296.0,46165.0,46100,NSE_BANKNIFTY24MAR46100CE,1248.50,1360.00,point_gain,111.50
2,77,2024-02-07 09:25:00,46285.9,46296.00,46171.30,46209.4,80775,46091.873047,46034.034344,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1441.70,1455.00,point_gain,13.30
3,78,2024-02-07 09:30:00,46201.1,46245.00,46193.95,46233.8,61245,46117.677951,46053.066654,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1420.05,1439.50,point_gain,19.45
4,79,2024-02-07 09:35:00,46240.2,46252.75,46216.90,46243.4,38775,46140.536508,46071.199682,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1430.00,1441.45,point_gain,11.45
5,80,2024-02-07 09:40:00,46240.8,46289.00,46139.75,46185.0,72210,46148.620780,46082.041076,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1455.00,1400.00,1min_ema20,-55.00
6,81,2024-02-07 09:45:00,46189.5,46205.00,46156.00,46193.1,31260,46156.707911,46092.621002,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1405.00,1405.00,1min_ema20,0.00
7,82,2024-02-07 09:50:00,46193.1,46210.00,46121.45,46167.0,43845,46158.579200,46099.706465,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1401.00,1401.00,1min_ema20,0.00
8,83,2024-02-07 09:55:00,46168.2,46189.95,46150.00,46181.9,24480,46162.819346,46107.536169,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1404.85,1404.85,1min_ema20,0.00
9,149,2024-02-07 15:25:00,46118.1,46249.85,46112.70,46230.0,152820,46119.646262,46089.367652,2024-02-07,46296.0,46165.0,46000,NSE_BANKNIFTY24MAR46000CE,1369.90,1430.00,point_gain,60.10
10,152,2024-02-08 09:25:00,46265.0,46341.65,46253.55,46340.0,83445,46196.095661,46140.272328,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10,1266.10,1min_ema20,0.00
11,153,2024-02-08 09:30:00,46335.6,46387.15,46320.00,46326.8,120810,46219.860086,46158.036872,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10,1266.10,1min_ema20,0.00
12,155,2024-02-08 09:40:00,46291.4,46312.00,46269.65,46300.0,29415,46245.326173,46183.195267,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10,1266.10,1min_ema20,0.00
13,158,2024-02-08 09:55:00,46273.9,46342.70,46264.30,46300.9,45900,46265.118543,46210.547712,2024-02-08,46475.7,46296.0,46100,NSE_BANKNIFTY24MAR46100CE,1266.10,1266.10,1min_ema20,0.00
14,159,2024-02-08 10:00:00,46296.1,46410.00,46275.05,46410.0,79335,46291.460626,46229.543170,2024-02-08,46475.7,46296.0,46200,NSE_BANKNIFTY24MAR46200CE,1260.00,1295.70,point_gain,35.70

In [ ]:
pe['symbol'] = pe['symbol'].str.replace("NSE:BANKNIFTY24MAR", "NSE_BANKNIFTY24MAR")
pe.head()

,Unnamed: 0,datetime,open,high,low,close,volume,ema_10,ema_20,date,current_days_high,previous_day_high,current_days_low,previous_day_low,strike,symbol
0,171,2024-02-08 11:00:00,45881.9,45881.95,45530.00,45572.2,380175,46047.785911,46129.190469,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE
1,172,2024-02-08 11:05:00,45571.9,45650.00,45463.20,45573.4,190110,45961.533927,46076.258042,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE
2,173,2024-02-08 11:10:00,45578.9,45685.00,45564.80,45637.6,91920,45902.636850,46034.481084,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE
3,174,2024-02-08 11:15:00,45640.0,45675.00,45592.55,45625.0,63510,45852.157422,45995.482885,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE
4,175,2024-02-08 11:20:00,45625.8,45647.25,45582.60,45632.9,53730,45812.292436,45960.951181,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE

In [ ]:
import os
import numpy as np
# ce = pd.read_csv("ce_dataset.csv")  # Replace "ce_dataset.csv" with the filename of your CE dataset
pe['datetime'] = pd.to_datetime(pe['datetime'])
# Define the directory path
directory = "/content/drive/MyDrive/algo_trading_data_sets/feb"

# Get a list of all files in the directory
all_files = os.listdir(directory)
symbol_files_pe = [filename for filename in all_files if filename.startswith("NSE_BANKNIFTY24MAR") and filename.endswith("PE.csv")]

buy_prices = []

# Iterate through each symbol dataset
for index, row in pe.iterrows():
    symbol_filename = row['symbol'] + ".csv"
    if symbol_filename in symbol_files_pe:
        # Join the filename with the directory path
        file_path = os.path.join(directory, symbol_filename)

        # Load the symbol dataset
        symbol_dataset = pd.read_csv(file_path)
        # symbol_dataset['close'] = pd.to_numeric(symbol_dataset['close'], errors='coerce')
        symbol_dataset['datetime'] = pd.to_datetime(symbol_dataset['datetime'])
        # Find the row with the closest datetime value in the symbol dataset
        closest_row = symbol_dataset[symbol_dataset['datetime'] == row['datetime']].iloc[0]

        # Append the close value to buy_prices
        buy_price = closest_row['close']
        buy_prices.append(buy_price)
    else:
        # If the symbol dataset is not found, append NaN
        buy_prices.append(np.nan)

# Add the buy_prices list to the ce DataFrame
pe['buy_price'] = buy_prices

In [ ]:
pe

,Unnamed: 0,datetime,open,high,low,close,volume,ema_10,ema_20,date,current_days_high,previous_day_high,current_days_low,previous_day_low,strike,symbol,buy_price
0,171,2024-02-08 11:00:00,45881.9,45881.95,45530.00,45572.2,380175,46047.785911,46129.190469,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1004.45
1,172,2024-02-08 11:05:00,45571.9,45650.00,45463.20,45573.4,190110,45961.533927,46076.258042,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1101.95
2,173,2024-02-08 11:10:00,45578.9,45685.00,45564.80,45637.6,91920,45902.636850,46034.481084,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1092.75
3,174,2024-02-08 11:15:00,45640.0,45675.00,45592.55,45625.0,63510,45852.157422,45995.482885,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1063.25
4,175,2024-02-08 11:20:00,45625.8,45647.25,45582.60,45632.9,53730,45812.292436,45960.951181,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1063.25
5,176,2024-02-08 11:25:00,45631.5,45695.00,45618.25,45662.0,42165,45784.966539,45932.479639,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1101.50
6,177,2024-02-08 11:30:00,45662.6,45674.90,45565.00,45580.8,43080,45747.845350,45898.986340,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1050.00
7,178,2024-02-08 11:35:00,45585.7,45667.95,45563.20,45645.8,22710,45729.291650,45874.873354,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1083.40
8,179,2024-02-08 11:40:00,45647.5,45659.75,45600.30,45609.7,30630,45707.547714,45849.618749,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1049.60
9,180,2024-02-08 11:45:00,45605.6,45633.00,45578.60,45624.8,22170,45692.502675,45828.207439,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1056.60
10,181,2024-02-08 11:50:00,45619.9,45688.00,45610.90,45665.8,24990,45687.647643,45812.740064,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1111.00
11,182,2024-02-08 11:55:00,45665.8,45713.55,45649.25,45653.4,38760,45681.420799,45797.564819,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1077.95
12,186,2024-02-08 12:15:00,45691.0,45709.45,45644.20,45646.7,16710,45679.897566,45759.078775,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1045.00
13,187,2024-02-08 12:20:00,45646.7,45654.00,45597.05,45635.1,24450,45671.752554,45747.271272,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1047.25
14,188,2024-02-08 12:25:00,45637.2,45649.95,45601.85,45608.1,9855,45660.179362,45734.016865,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1047.25
15,189,2024-02-08 12:30:00,45604.4,45640.20,45556.15,45624.7,48915,45653.728569,45723.605735,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1047.25
16,190,2024-02-08 12:35:00,45624.7,45656.00,45610.00,45616.6,15420,45646.977920,45713.414713,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1065.55
17,195,2024-02-08 13:00:00,45698.5,45715.00,45644.05,45648.9,12255,45660.369781,45695.437373,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1028.50
18,199,2024-02-08 13:20:00,45675.4,45698.00,45651.50,45664.9,7995,45669.047014,45689.386568,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1067.65
19,202,2024-02-08 13:35:00,45690.1,45700.00,45656.75,45673.9,31965,45680.139199,45690.921117,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1067.35
20,204,2024-02-08 13:45:00,45689.8,45710.00,45670.15,45671.1,8775,45679.932852,45688.936788,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1074.90
21,205,2024-02-08 13:50:00,45670.1,45699.90,45639.45,45655.3,13725,45675.454152,45685.733284,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1074.90
22,207,2024-02-08 14:00:00,45682.8,45697.95,45573.80,45573.8,30645,45658.064349,45674.820217,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1031.85
23,208,2024-02-08 14:05:00,45589.0,45645.65,45576.60,45623.0,20280,45651.689013,45669.884958,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1031.85
24,209,2024-02-08 14:10:00,45623.0,45659.95,45585.00,45598.6,15765,45642.036465,45663.095914,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1047.75
25,211,2024-02-08 14:20:00,45645.0,45649.00,45562.40,45586.0,28650,45632.288873,45654.194161,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1056.50
26,212,2024-02-08 14:25:00,45586.0,45596.50,45479.00,45540.6,50505,45615.618169,45643.375670,2024-02-08,46475.7,46296.0,45053.2,45901.0,45700,NSE_BANKNIFTY24MAR45700PE,1043.85
27,213,2024-02-08 14:30:00,45538.4,45544.90,45452.10,45473.3,63240,45589.742138,45627.177987,2024-02-08,46475.7,46296.0,45053.2,45901.0,45700,NSE_BANKNIFTY24MAR45700PE,1043.85
28,214,2024-02-08 14:35:00,45481.4,45486.60,45280.00,45361.1,134145,45548.170841,45601.837226,2024-02-08,46475.7,46296.0,45053.2,45901.0,45600,NSE_BANKNIFTY24MAR45600PE,1047.45
29,215,2024-02-08 14:40:00,45367.0,45409.45,45327.25,45369.4,37170,45515.667051,45579.700347,2024-02-08,46475.7,46296.0,45053.2,45901.0,45600,NSE_BANKNIFTY24MAR45600PE,1090.25
30,216,2024-02-08 14:45:00,45370.6,45410.00,45369.15,45399.3,30960,45494.509406,45562.519362,2024-02-08,46475.7,46296.0,45053.2,45901.0,45600,NSE_BANKNIFTY24MAR45600PE,1101.60
31,217,2024-02-08 14:50:00,45407.4,45410.50,45335.00,45381.0,25260,45473.871332,45545.231804,2024-02-08,46475.7,46296.0,45053.2,45901.0,45600,NSE_BANKNIFTY24MAR45600PE,1076.80
32,218,2024-02-08 14:55:00,45385.0,45402.10,45236.00,45286.9,66240,45439.876544,45520.628775,2024-02-08,46475.7,46296.0,45053.2,45901.0,45500,NSE_BANKNIFTY24MAR45500PE,1050.00
33,219,2024-02-08 15:00:00,45280.1,45314.85,45053.20,45197.1,154050,45395.735354,45489.816510,2024-02-08,46475.7,46296.0,45053.2,45901.0,45400,NSE_BANKNIFTY24MAR45400PE,1080.40
34,220,2024-02-08 15:05:00,45206.6,45294.95,45176.40,45254.6,85335,45370.074381,45467.414938,2024-02-08,46475.7,46296.0,45053.2,45901.0,45500,NSE_BANKNIFTY24MAR45500PE,1103.20
35,221,2024-02-08 15:10:00,45250.2,45265.15,45164.05,45185.0,54450,45336.424493,45440.518277,2024-02-08,46475.7,46296.0,45053.2,45901.0,45400,NSE_BANKNIFTY24MAR45400PE,1057.70
36,222,2024-02-08 15:15:00,45195.3,45205.00,45140.25,45195.9,89250,45310.874586,45417.221298,2024-02-08,46475.7,46296.0,45053.2,45901.0,45400,NSE_BANKNIFTY24MAR45400PE,1057.70
37,223,2024-02-08 15:20:00,45194.1,45270.25,45194.10,45258.9,71355,45301.424661,45402.143080,2024-02-08,46475.7,46296.0,45053.2,45901.0,45500,NSE_BANKNIFTY24MAR45500PE,1118.50
38,224,2024-02-08 15:25:00,45258.8,45334.80,45246.05,45278.8,88890,45297.311086,45390.396120,2024-02-08,46475.7,46296.0,45053.2,45901.0,45500,NSE_BANKNIFTY24MAR45500PE,1098.35

# New Section

In [ ]:
import os
import numpy as np
import pandas as pd

# Define a function to calculate EMA
def calculate_ema(series, span):
    return series.ewm(span=span, adjust=False).mean()

# Define the directory path
directory = "/content/drive/MyDrive/algo_trading_data_sets/feb"

# Get a list of all files in the directory
all_files = os.listdir(directory)
symbol_files_pe = [filename for filename in all_files if filename.startswith("NSE_BANKNIFTY24MAR") and filename.endswith("PE.csv")]

# Initialize lists to store buy_prices, sell_prices, sell_types, and profits_or_losses
# buy_prices = []
sell_prices = []
sell_types = []
profits_or_losses = []

# Iterate through each row in the PE DataFrame
for index, row in pe.iterrows():
    symbol_filename = row['symbol'] + ".csv"
    if symbol_filename in symbol_files_pe:
        # Join the filename with the directory path
        file_path = os.path.join(directory, symbol_filename)

        # Load the symbol dataset
        symbol_dataset = pd.read_csv(file_path)
        symbol_dataset['datetime'] = pd.to_datetime(symbol_dataset['datetime'])  # Convert 'datetime' column to datetime64[ns]

        # Calculate ema_20 for the symbol dataset
        symbol_dataset['ema_20'] = calculate_ema(symbol_dataset['close'], span=20)

        # Find the row with the closest datetime value in the symbol dataset
        symbol_row = symbol_dataset[symbol_dataset['datetime'] == row['datetime']].iloc[0]

        # Buy at the close price
        # buy_price = symbol_row['close']
        # buy_prices.append(buy_price)

        # Initialize selling variables
        sell_price = np.nan
        sell_type = np.nan
        profit_or_loss = np.nan

        # Iterate through each row in the symbol dataset starting from the row's datetime
        for _, symbol_row in symbol_dataset[symbol_dataset['datetime'] >= row['datetime']].iterrows():
            # Check conditions for selling
            if (symbol_row['close'] - row['buy_price']) >= 10:
                sell_price = symbol_row['close']
                sell_type = 'point_gain'
                profit_or_loss = sell_price - row['buy_price']
                break  # Exit the loop if condition met
            elif symbol_row['close'] > symbol_row['ema_20']:
                sell_price = symbol_row['close']
                sell_type = '1min_ema20'
                profit_or_loss = sell_price - row['buy_price']
                break  # Exit the loop if condition met
            elif (symbol_row['datetime'] - row['datetime']).seconds >= 15 * 60:
                sell_price = symbol_row['close']
                sell_type = 'threshold'
                profit_or_loss = sell_price - row['buy_price']
                break  # Exit the loop if condition met

        # Append selling details to lists
        sell_prices.append(sell_price)
        sell_types.append(sell_type)
        profits_or_losses.append(profit_or_loss)
    else:
        # buy_prices.append(np.nan)
        sell_prices.append(np.nan)
        sell_types.append(np.nan)
        profits_or_losses.append(np.nan)

# Add the buy_prices, sell_prices, sell_types, and profits_or_losses lists to the PE DataFrame

pe['sell_price'] = sell_prices
pe['sell_type'] = sell_types
pe['profit_or_loss'] = profits_or_losses

In [ ]:
pe

,Unnamed: 0,datetime,open,high,low,close,volume,ema_10,ema_20,date,current_days_high,previous_day_high,current_days_low,previous_day_low,strike,symbol,buy_price,sell_price,sell_type,profit_or_loss
0,171,2024-02-08 11:00:00,45881.9,45881.95,45530.00,45572.2,380175,46047.785911,46129.190469,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1004.45,1004.45,1min_ema20,0.00
1,172,2024-02-08 11:05:00,45571.9,45650.00,45463.20,45573.4,190110,45961.533927,46076.258042,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1101.95,1101.95,1min_ema20,0.00
2,173,2024-02-08 11:10:00,45578.9,45685.00,45564.80,45637.6,91920,45902.636850,46034.481084,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1092.75,1092.75,1min_ema20,0.00
3,174,2024-02-08 11:15:00,45640.0,45675.00,45592.55,45625.0,63510,45852.157422,45995.482885,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1063.25,1063.25,1min_ema20,0.00
4,175,2024-02-08 11:20:00,45625.8,45647.25,45582.60,45632.9,53730,45812.292436,45960.951181,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1063.25,1063.25,1min_ema20,0.00
5,176,2024-02-08 11:25:00,45631.5,45695.00,45618.25,45662.0,42165,45784.966539,45932.479639,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1101.50,1099.75,1min_ema20,-1.75
6,177,2024-02-08 11:30:00,45662.6,45674.90,45565.00,45580.8,43080,45747.845350,45898.986340,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1050.00,1070.15,point_gain,20.15
7,178,2024-02-08 11:35:00,45585.7,45667.95,45563.20,45645.8,22710,45729.291650,45874.873354,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1083.40,1083.40,1min_ema20,0.00
8,179,2024-02-08 11:40:00,45647.5,45659.75,45600.30,45609.7,30630,45707.547714,45849.618749,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1049.60,1056.60,1min_ema20,7.00
9,180,2024-02-08 11:45:00,45605.6,45633.00,45578.60,45624.8,22170,45692.502675,45828.207439,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1056.60,1056.60,1min_ema20,0.00
10,181,2024-02-08 11:50:00,45619.9,45688.00,45610.90,45665.8,24990,45687.647643,45812.740064,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1111.00,1111.00,1min_ema20,0.00
11,182,2024-02-08 11:55:00,45665.8,45713.55,45649.25,45653.4,38760,45681.420799,45797.564819,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1077.95,1090.85,point_gain,12.90
12,186,2024-02-08 12:15:00,45691.0,45709.45,45644.20,45646.7,16710,45679.897566,45759.078775,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1045.00,1045.00,1min_ema20,0.00
13,187,2024-02-08 12:20:00,45646.7,45654.00,45597.05,45635.1,24450,45671.752554,45747.271272,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1047.25,1047.25,1min_ema20,0.00
14,188,2024-02-08 12:25:00,45637.2,45649.95,45601.85,45608.1,9855,45660.179362,45734.016865,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1047.25,1047.25,1min_ema20,0.00
15,189,2024-02-08 12:30:00,45604.4,45640.20,45556.15,45624.7,48915,45653.728569,45723.605735,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1047.25,1047.25,1min_ema20,0.00
16,190,2024-02-08 12:35:00,45624.7,45656.00,45610.00,45616.6,15420,45646.977920,45713.414713,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1065.55,1065.55,1min_ema20,0.00
17,195,2024-02-08 13:00:00,45698.5,45715.00,45644.05,45648.9,12255,45660.369781,45695.437373,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1028.50,1022.50,threshold,-6.00
18,199,2024-02-08 13:20:00,45675.4,45698.00,45651.50,45664.9,7995,45669.047014,45689.386568,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1067.65,1067.35,threshold,-0.30
19,202,2024-02-08 13:35:00,45690.1,45700.00,45656.75,45673.9,31965,45680.139199,45690.921117,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1067.35,1070.40,1min_ema20,3.05
20,204,2024-02-08 13:45:00,45689.8,45710.00,45670.15,45671.1,8775,45679.932852,45688.936788,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1074.90,1074.90,1min_ema20,0.00
21,205,2024-02-08 13:50:00,45670.1,45699.90,45639.45,45655.3,13725,45675.454152,45685.733284,2024-02-08,46475.7,46296.0,45053.2,45901.0,45900,NSE_BANKNIFTY24MAR45900PE,1074.90,1074.90,1min_ema20,0.00
22,207,2024-02-08 14:00:00,45682.8,45697.95,45573.80,45573.8,30645,45658.064349,45674.820217,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1031.85,1031.85,1min_ema20,0.00
23,208,2024-02-08 14:05:00,45589.0,45645.65,45576.60,45623.0,20280,45651.689013,45669.884958,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1031.85,1031.85,1min_ema20,0.00
24,209,2024-02-08 14:10:00,45623.0,45659.95,45585.00,45598.6,15765,45642.036465,45663.095914,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1047.75,1047.75,1min_ema20,0.00
25,211,2024-02-08 14:20:00,45645.0,45649.00,45562.40,45586.0,28650,45632.288873,45654.194161,2024-02-08,46475.7,46296.0,45053.2,45901.0,45800,NSE_BANKNIFTY24MAR45800PE,1056.50,1056.50,1min_ema20,0.00
26,212,2024-02-08 14:25:00,45586.0,45596.50,45479.00,45540.6,50505,45615.618169,45643.375670,2024-02-08,46475.7,46296.0,45053.2,45901.0,45700,NSE_BANKNIFTY24MAR45700PE,1043.85,1043.85,1min_ema20,0.00
27,213,2024-02-08 14:30:00,45538.4,45544.90,45452.10,45473.3,63240,45589.742138,45627.177987,2024-02-08,46475.7,46296.0,45053.2,45901.0,45700,NSE_BANKNIFTY24MAR45700PE,1043.85,1043.85,1min_ema20,0.00
28,214,2024-02-08 14:35:00,45481.4,45486.60,45280.00,45361.1,134145,45548.170841,45601.837226,2024-02-08,46475.7,46296.0,45053.2,45901.0,45600,NSE_BANKNIFTY24MAR45600PE,1047.45,1047.45,1min_ema20,0.00
29,215,2024-02-08 14:40:00,45367.0,45409.45,45327.25,45369.4,37170,45515.667051,45579.700347,2024-02-08,46475.7,46296.0,45053.2,45901.0,45600,NSE_BANKNIFTY24MAR45600PE,1090.25,1090.25,1min_ema20,0.00
30,216,2024-02-08 14:45:00,45370.6,45410.00,45369.15,45399.3,30960,45494.509406,45562.519362,2024-02-08,46475.7,46296.0,45053.2,45901.0,45600,NSE_BANKNIFTY24MAR45600PE,1101.60,1101.60,1min_ema20,0.00
31,217,2024-02-08 14:50:00,45407.4,45410.50,45335.00,45381.0,25260,45473.871332,45545.231804,2024-02-08,46475.7,46296.0,45053.2,45901.0,45600,NSE_BANKNIFTY24MAR45600PE,1076.80,1076.80,1min_ema20,0.00
32,218,2024-02-08 14:55:00,45385.0,45402.10,45236.00,45286.9,66240,45439.876544,45520.628775,2024-02-08,46475.7,46296.0,45053.2,45901.0,45500,NSE_BANKNIFTY24MAR45500PE,1050.00,1050.00,1min_ema20,0.00
33,219,2024-02-08 15:00:00,45280.1,45314.85,45053.20,45197.1,154050,45395.735354,45489.816510,2024-02-08,46475.7,46296.0,45053.2,45901.0,45400,NSE_BANKNIFTY24MAR45400PE,1080.40,1080.40,1min_ema20,0.00
34,220,2024-02-08 15:05:00,45206.6,45294.95,45176.40,45254.6,85335,45370.074381,45467.414938,2024-02-08,46475.7,46296.0,45053.2,45901.0,45500,NSE_BANKNIFTY24MAR45500PE,1103.20,1103.20,1min_ema20,0.00
35,221,2024-02-08 15:10:00,45250.2,45265.15,45164.05,45185.0,54450,45336.424493,45440.518277,2024-02-08,46475.7,46296.0,45053.2,45901.0,45400,NSE_BANKNIFTY24MAR45400PE,1057.70,1057.70,1min_ema20,0.00
36,222,2024-02-08 15:15:00,45195.3,45205.00,45140.25,45195.9,89250,45310.874586,45417.221298,2024-02-08,46475.7,46296.0,45053.2,45901.0,45400,NSE_BANKNIFTY24MAR45400PE,1057.70,1057.70,1min_ema20,0.00
37,223,2024-02-08 15:20:00,45194.1,45270.25,45194.10,45258.9,71355,45301.424661,45402.143080,2024-02-08,46475.7,46296.0,45053.2,45901.0,45500,NSE_BANKNIFTY24MAR45500PE,1118.50,1118.50,1min_ema20,0.00
38,224,2024-02-08 15:25:00,45258.8,45334.80,45246.05,45278.8,88890,45297.311086,45390.396120,2024-02-08,46475.7,46296.0,45053.2,45901.0,45500,NSE_BANKNIFTY24MAR45500PE,1098.35,1065.45,threshold,-32.90